S<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>Lesson Academy Update</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/fragments.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel="stylesheet" href="css/lessonForm.css">
    <script th:inline="javascript">
        $(function () {
            //메시지 출력
            let m = [[${msg}]];
            if (m != null) {
                alert(m);
            } //복사하여 index.html에도 넣기
        });
    </script>
</head>
<body class="lessonformbackground">
<header>
    <th:block th:insert="~{fragments::header(${session.member})}"/>
</header>
<section>
    <div class="content">
        <form th:action="@{lsAUpdateProc}" class="write-form" method="post"
              enctype="multipart/form-data">
            <h2 class="login-header" style="color: white">Class Change</h2>

            <div class="filebox">
                <label for="lsimgfile" style="text-align: center">업로드</label>
                <input type="file" name="lsimgfiles" id="lsimgfile">
                <input type="text" class="lsimgupload-name" value="아카데미 이미지 업로드." readonly>
                <!--첨부된 영상 파일 출력-->
                <div class="filebox">
                    <div id="lifFile" style="margin-bottom: 10px">
                        <th:block th:if="${#lists.isEmpty(lifList)}">
                            <label style="width: 100%">첨부파일 없음</label>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(lifList)}">
                            <th:block th:each="lsitem:${lifList}">
                                <label style="width: 100%" th:onclick="lifdel([[${lsitem.lif_sysname}]])"
                                       th:text="${lsitem.lif_oriname}"></label>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <input type="hidden" name="ls_num" th:value="${lesson.ls_num}">
                <input type="hidden" name="ls_mid" th:value="${session.member.m_id}">
                <input type="text" class="write-input" name="ls_academy" required th:value="${lesson.ls_academy}">
                <input type="text" class="write-input" name="ls_addr" required th:value="${lesson.ls_addr}">
                <input type="text" class="write-input" name="ls_title" required th:value="${lesson.ls_title}">
                <input type="text" class="write-input" name="ls_total" required th:value="${lesson.ls_total}">
                <input type="text" class="write-input" name="ls_price" required th:value="${lesson.ls_price}">

                <div class="boardForm_btn-area">
                    <input type="submit" class="login-btn" value="다음" onclick="lessoninput()">
                    <input type="reset" class="login-btn" value="리셋" onclick="lessoninput()">
                    <input type="button" class="login-btn" id="backbtn" value="취소">
                </div>
                <img class="previewimg" id="previewimg" src="#" alt="Preview" style="display: none;">
            </div>
        </form>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
<script th:inline="javascript">
    document.getElementById('lsimgfile').addEventListener('change', function () {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var preview = document.getElementById('previewimg');
                preview.style.display = 'block';
                preview.src = event.target.result;ㄴ
            }
            reader.readAsDataURL(file);
        }
    });


    $("#lsimgfile").on("change", function () {
        let files = $("#lsimgfile")[0].files;
        console.log(files);

        let imgfileName = "";

        if (files.length > 1) {
            imgfileName = `${files[0].name} 외 ${files.length - 1}개`;
        } else if (files.length == 1) {
            imgfileName = files[0].name;
        } else {
            imgfileName = "파일선택";
        }
        $(".lsimgupload-name").val(imgfileName);
    });

    function lessoninput() {
        let dance = $("#dance").val();
        //내용을 입력했는지 검사.
        if (dance == "") {//입력을 안했으면
            alert("내용을 입력하세요.");
            $("#dance").focus();
            return;
        }
    }

    <!--뒤로가기-->
    $("#backbtn").click(function () {
        let lsnum = [[${lesson.ls_num}]];
        location.href = `/lessonDetail?ls_num=${lsnum}`;
    });

    //수정할 때 학원 이미지 파일 삭제
    function lifdel(lif_sysname) {
        let cfm = confirm("해당 파일을 삭제하시겠습니까?");
        if (cfm == false) {
            return;//취소.
        }
        //이미지파일 파일
        let sendiObj = {"lif_sysname": lif_sysname};
        sendiObj.lif_lsnum = [[${lesson.ls_num}]];

        $.ajax({
            url: "lsDelImgFile",
            type: "post",
            data: sendiObj,
            success: function (res) {
                console.log(res.length);
                //res.length == 0, res.length > 0
                let iflist = "";
                if (res.length == 0) {
                    iflist += '<label style="width: 100%">첨부파일 없음</label>';
                } else {
                    for (let iif of res) {
                        iflist += `<label style="width: 100%" onclick="lifdel('${iif.lif_sysname}')"> ${iif.lif_oriname}</label>`;
                    }
                }
                $("#lifFile").html(iflist);
            },
            error: function (err) {
                console.log(err);
                alert("img파일 삭제에 실패했습니다.");
            }
        });
    }
</script>
</html>